<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../portfolio File/css/style.css">
  <title>Sho Iwasaki</title>
</head>
<header>
  <h4>Sho Iwasaki</h4>
  <nav>
    <ul>
      <li class="manu-item"><a href="#AboutMe">About Me</a></li>
      <li class="manu-item"><a href="#Skill">Skill</a></li>
      <li class="manu-item"><a href="#Contact">Contact</a></li>
    </ul>
  </nav>
</header>

<body>
  <div class="FirstContent">
    <h1>Sho Iwasaki</h1>
    <img src="img/main.JPG" alt="景色" id="topimg">
  </div>
  <section class="First">
    <div class="About" id="About">
      <h2 id="AboutMe">About Me</h2>
      <p>27歳でエンジニアに転向<br>
        佐賀県から福岡県に移住<br>
        趣味はプログラミング<br>
        色んなことに挑戦しています
      </p>
      <img src="img/sho.jpg" alt="しょう いわさき" id="sho">
    </div>
    <div class="Introduction">
      <div class="IntroductionItem">
        <img src="img/トマトのアイコン.jpeg">
        <h4>出身地 ： 佐賀</h4>
        <p>高卒後建設業界で工事現場で働いてました</p>
      </div>
      <div class="IntroductionItem">
        <img src="img/デスクワーク.jpeg">
        <h4>27歳でIT業界に転職</h4>
        <p>現在DBエンジニア</p>
      </div>
    </div>
  </section>
  <div class="Word">
    <h3>ITで地方に貢献したいです</h3>
  </div>
  <section class="second">
    <h2 id="Skill">Skill</h2>
    <!-- javascriptで取得 -->
    <!-- <div id="skill" class="skill">
    </div> -->
    <!-- Vueで取得 -->
    <div id="skill" class="skill">
      <div class="skillItem" id="skillItem" v-for="Photo in Photos">
        <img :src="Photo.path">
        <div class="skill-type">
          <h4>{{Photo.skill}}</h4>
          <p>{{Photo.caption}}</p>
        </div>
      </div>
    </div>
  </section>
  <div class="Deliverables">
    <h3>成果物を紹介します</h3>
  </div>
  <section class="third">
    <h4>Portfolio</h4>
    <div class="skills" id="skills" v-for="skill in skillType">
      <div class="swift">
        <video src="../portfolio File/img/ITQuiz.mp4" loop autoplay muted class="quizMov"></video>
      </div>
      <div class="swift">
        <p>{{skill.title}}</p>
        <p class="Explanation">{{skill.type}}</p>
        <p class="Explanation">
          {{skill.Introduction}}
        </p>
        <p class="Explanation">{{skill.Technology}}</p>
        <a href="https://github.com/MpshamanA/ITQuizProject/tree/main/testquestion/testquestion"
          class="github">{{skill.btnName}}</a>
      </div>
    </div>
  </section>
  <section class="fourth">
    <div class="Contact">
      <h2 id="Contact">Contact</h2>
      <div class="submit-contents">
        <h4>お仕事のご相談、ご質問は以下にお問い合わせください。</h4>
        <form action="">
          <dl>
            <dt><input type="text" name="name" id="name" placeholder="お名前"></dt>
            <dt><input type="email" name="mymail" id="mymail" placeholder="メールアドレス"></dt>
            <dt><textarea class="form-control" name="message" cols="30" rows="6" placeholder="お問い合わせ内容"></textarea></dt>
          </dl>
          <input type="submit" value="送信">
        </form>
      </div>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <!-- <script type="module" src="js/image.js"></script> -->
  <script type="text/javascript" src="js/app.js"></script>
</body>
<footer>
  <p>Copyright © 2021 - Sho Iwasaki</p>
</footer>

</html>