.FirstContent{
    position: relative;
    overflow: hidden;
}

.FirstContent h1{
    position: absolute;
    color:white;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    font-size: 5vw;
    font-family:'Courier New';
}
.FirstContent ul{
    position: absolute;
    list-style: none;
    right: 7%;
    color:white;
}
.FirstContent li{
    display: inline-block;
    font-size: 1.5vw;
    padding-left: 10px;
    padding-right: 10px;
}

.FirstContent img{
    width: 100%;
    padding-bottom: 50px;
}
.About{
    position: relative;
}

.About h2{
    padding-left: 10%;
}

.About p{
    position: absolute;
    padding-top: 5%;
    top:10%;
    left: 10%;
}

.About img{
    width: 30%;
    height: auto;
    position: absolute;
    top: 10%;
    right: 10%;
}
.About h4{
    position: absolute;
}

.Introduction{
   padding-top: 12%;
}

.IntroductionItem{
    position: relative;
}

.IntroductionItem img{
    float: left;
    padding-left: 3%;
    position: absolute;
    top: 12.5%;
}
.IntroductionItem h4{
    padding-left: 10%;
}


.IntroductionItem p{
    padding-left: 10%;
}

.skill{
    text-align: center;
}

.skill h2{
    padding-top: 20px;
    padding-left: 10%;
    text-align: initial;
}

.skill img{
    width: 30%;
    height: auto;
}

.skillItem{
    float: left;
    width: 30%;
    padding-top: 3%;
}